@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	scroll-behavior: smooth;
	color: #fff;
}

html {
	// This defines what 1rem is
	font-size: 62.5%; // 1rem = 10px;

	@include respond(big-desktop) {
		font-size: 62.5%; // 1rem = 12px
	}

	@include respond(tab-land) {
		font-size: 56.25%; // 1rem = 9px ,
	}

	@include respond(tab-port) {
		font-size: 50%; // 1rem = 8px
	}

	font-family: "Open Sans",
	sans-serif;
}

body {
	box-sizing: border-box;
	background: $background-1;
}

li {
	list-style: none;
}

a {
	text-decoration: none !important;
}

.slick-arrow {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background: $orange-1;
	color: transparent;
	border: none;
	margin-left: 24%;

	@include respond(tab-land) {
		margin-left: 26%;
	}

	@include respond(tab-port) {
		margin-left: 15%;
	}

	@include respond(phone) {
		margin-left: 31%;
	}

	@media (max-width: 415px) {
		margin-left: 27%;
	}

	@media (max-width: 380px) {
		margin-left: 31%;
	}

	@media (max-width: 325px) {
		margin-left: 35%;
	}

	&:focus {
		outline: none !important;
	}
}

.slick-prev {
	clip-path: polygon(50% 0, 75% 50%, 100% 100%, 50% 50%, 0 100%);
}

.slick-next {
	clip-path: polygon(50% 50%, 100% 0, 50% 100%, 0 0);
}

.section-heading-container {
	margin-bottom: 5rem;
}

.smooth-scroll-wrapper {
	position: relative;
}