h1,
h2,
h3,
h4,
h5 {
	font-weight: 500 !important;
}

h1 {
	font-size: 2.5rem;
	// font-family: playfair display, Sans-serif;
}

h2 {
	font-size: 2.2rem;
}

h3 {
	font-size: 1.8rem;

	@include respond(phone) {
		font-size: 2.5rem;
	}
}

p {
	font-size: 1.6rem;
	padding: 0;
	line-height: 25px;
	margin-bottom: 0;

	@include respond(phone) {
		font-size: 2rem;
	}
}

span {
	font-size: 1.4rem;
	display: block;
}

.section-subheading {
	// font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	color: $orange-1;
	margin-bottom: 2.5rem;
}

.section-heading {
	// font-family: "Playfair Display", serif !important;
	font-size: 4rem;
	margin-bottom: 2rem;
	letter-spacing: 2px;

	@include respond(phone) {
		font-size: 3rem;
	}
}