.aboutme {
	.container {
		background: $background-2;
		padding: 0;
	}

	&__heading-container {
		background: #2c304d;
		text-align: center;
	}

	&__heading {
		background: $orange-2;
		display: inline-block;
		margin-bottom: 0;
		padding: 2.5rem 5rem;
		color: #000;
	}

	&__content {
		padding: 5rem;
	}

	&__image-container {
		@include respond(phone) {
			padding-left: 0;
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 1rem;
			box-shadow: 0 0 9px;
		}
	}

	&__title {
		font-family: "Playfair Display", serif !important;
		font-size: 4rem;
		margin-bottom: 3rem;
		letter-spacing: 2px;
	}

	&__description {
		margin-bottom: 3.5rem;

		@include respond(phone) {
			margin-bottom: 5rem;
		}
	}

	&__main {
		padding: 0 4rem;

		@include respond(phone) {
			padding: 4rem 0;
		}
	}
}
