.award-card {
	&__image-container {
		width: 100%;
		margin-bottom: 2.5rem;
	}

	&__image {
		width: 100%;
		height: 20rem;
		object-fit: cover;
	}

	&__title {
		// font-family: "Playfair Display", serif !important;
		margin-bottom: 2rem;

		&:hover {
			text-decoration: none !important;
			color: $orange-1;
		}
	}
}