.button {
	padding: 1rem 4rem;
	border: 1px solid $orange-2;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	color: $orange-2;

	@include respond(tab-port) {
		margin-left: initial !important;
	}

	&:hover {
		background: $orange-3;
		color: #fff;
	}
}
