.introduction {
    margin-top: 5rem;

    .container {
        background: $background-2;
        padding: 0;
        border-radius: 10px;
        box-shadow: 0px 0px 5px;
    }

    &__heading {
        background: #2c304d;
        text-align: center;
        border-radius: 5px 5px 0 0;
    }

    &__heading-item {
        display: inline-block;
        margin-bottom: 0;
        padding: 1.7rem 4rem;
        cursor: pointer;
        transition: all 0.3s;

        &__title {
            text-transform: uppercase;
            font-weight: 800;
        }

        &:hover {
            background: $orange-2;
        }

        &:hover &__title {
            color: #000;
        }
    }

    &__heading-item.introduction-item-active {
        background: $orange-2;

        p {
            color: #000;
        }
    }

    &__content {
        position: relative;
    }

    &__image {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
            box-shadow: 0 0 9px;
        }
    }

    &__title {
        // font-family: "Playfair Display", serif !important;
        font-size: 4rem;
        margin-bottom: 2rem;
        letter-spacing: 2px;
    }

    &__main {
        padding: 0 4rem;
    }

    &-item {
        // display: none;
        opacity: 0;
        width: 100%;
        transition: opacity 0.3s;
        max-height: 0;
        overflow: hidden;
    }

    &-item.introduction-item--active {
        // display: initial;
        padding: 5rem;
        gap: 5rem 2rem;
        opacity: 1;
        max-height: 1000em;
    }
}