.my-projects {
	&__filter-buttons {
		padding-left: 1rem;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 3rem;
	}

	&__filter-button {
		padding: 1rem 2rem;
		font-size: 1.6rem;
		text-transform: uppercase;
		cursor: pointer;
	}

	&__filter-button.filter-active {
		border-radius: 999px;
		border: 1px solid $orange-1;
	}
}
