.scrollbar {
    position: sticky;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
    z-index: 1000;

    &-progressBar {
        background: linear-gradient(
            90deg,
            rgba(164, 161, 218, 1) 0%,
            rgba(138, 88, 109, 1) 61%,
            rgba(0, 212, 255, 1) 100%
        );
        height: 100%;
    }
}
