.footer {
    margin-top: 7rem;
    padding: 5rem;
    background: $background-2;

    @include respond(phone) {
        padding: 3rem;
    }

    &-logo {
        width: 8rem;
    }

    &-top {
        grid-gap: 3rem 5rem;
    }

    &-link {
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        color: #fff;

        &-container {
            grid-column: 1/-1;
        }

        &:hover {
            color: $orange-1;
        }
        &-heading {
            font-size: 4rem;
        }

        &-items {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3rem;
        }
    }

    &-link-heading-container {
        @include respond(phone) {
            justify-content: flex-start !important;
        }
    }

    &-copy-right {
        color: rgb(184, 179, 168);
        font-size: 14px;
        line-height: 14px;
        font-family: "Open Sans", sans-serif;
        text-align: center;
        @include respond(phone) {
            text-align: left;
        }
    }
}
